<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div class="card m-3">
    <h5 class="card-header" style="text-align: center;">Angular 10 Dynamic Reactive Forms Example</h5>
    <div class="card-body border-bottom">
      <div class="form-row">
        <div class="form-group">
          <label>Number of Users</label>
          <select formControlName="numberOfUsers" class="form-control" (change)="onChangeUsers($event)"
            [ngClass]="{ 'is-invalid': submitted && f.numberOfUsers.errors }">
            <option value=""></option>
            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
          </select>
          <div *ngIf="submitted && f.numberOfUsers.errors" class="invalid-feedback">
            <div *ngIf="f.numberOfUsers.errors.required">Number of Users is required</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let user of userFormGroups; let i = index" class="list-group list-group-flush">
      <div class="list-group-item">
        <h5 class="card-title">
          User {{i + 1}} 
          <button class="btn btn-primary mr-1" style="margin-left: 20px;"> Show/Hide </button>
        </h5>
        <div [formGroup]="user" class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && user.controls.firstName.errors }" />
            <div *ngIf="submitted && user.controls.firstName.errors" class="invalid-feedback">
              <div *ngIf="user.controls.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && user.controls.lastName.errors }" />
            <div *ngIf="submitted && user.controls.lastName.errors" class="invalid-feedback">
              <div *ngIf="user.controls.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>User Name</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && user.controls.username.errors }" />
            <div *ngIf="submitted && user.controls.username.errors" class="invalid-feedback">
              <div *ngIf="user.controls.username.errors.required">UserName is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && user.controls.email.errors }" />
            <div *ngIf="submitted && user.controls.email.errors" class="invalid-feedback">
              <div *ngIf="user.controls.email.errors.required">Email is required</div>
              <div *ngIf="user.controls.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && user.controls.password.errors }" />
            <div *ngIf="submitted && user.controls.password.errors" class="invalid-feedback">
              <div *ngIf="user.controls.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && user.controls.confirmPassword.errors }" />
            <div *ngIf="submitted && user.controls.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="user.controls.confirmPassword.errors.required">Confirm Password is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center border-top-0">
      <button class="btn btn-primary mr-1">Register Users</button>
      <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
      <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
    </div>
  </div>
</form>